@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.contact-container {
    display: flex;
    
}

.contact-image-container {
    height: 600px;
}

.contact-image {
 height: 600px;   
}
.contact-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dee2e6;  
    width: 100%;
}
.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dee2e6;  
    width: 100%;

}
.contact-input {
    /* margin-bottom: 200px; */
    border: none;
    /* box-shadow: 1px 1px 1px 1px lightgray; */
    border-bottom: 1px solid gray;
    padding: 10px 16px;
    color: black;
    padding: 10px;
    width: 80%;
    resize: none;
    margin-bottom: 50px;
    background-color: #dee2e6;
    font-family: 'Roboto', sans-serif;
}

.contact-btn { 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;

}
.contact-title {
    margin-bottom: 80px;
    font-family: 'Roboto', sans-serif;
}